h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  align-text: center;
}
p {
  text-align: center;
}
a {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
